# 1.Manipulate using a list
*To add new elements to the end of the list
*To reverse elements in the list
*To display the same list of elements multiple times.
*To concatenate two list
*To sort the elements in the list in ascending order.

In [47]:
list_1 = [50,60,70,80,90] #create list
print ("list_1= ",list_1)

list_1=  [50, 60, 70, 80, 90]

# *To add new elements to the end of the list

In [48]:
list_1.append(100) # add single element to the end of the list
print ("list_1= ",list_1)

list_1=  [50, 60, 70, 80, 90, 100]

In [49]:
list_1.extend([110,120,130]) #add multiple elements to the end of the list
print ("list_1= ",list_1)

list_1=  [50, 60, 70, 80, 90, 100, 110, 120, 130]

# *To reverse elements in the list

In [50]:
list_1.reverse() # to reverse elements in the list using reverse method
print ("Reversed_list= ",list_1)

Reversed_list=  [130, 120, 110, 100, 90, 80, 70, 60, 50]

In [51]:
reversed_list=list_1[::-1]  # to reverse elements in the list using slicing
print("Reversed list = ",reversed_list)

Reversed list =  [50, 60, 70, 80, 90, 100, 110, 120, 130]

*To display the same list of elements multiple times.

In [26]:
repeated_list = reversed_list * 13 # Repeat the list 13 times
print("Repeated_list = ",repeated_list)

Repeated_list =  [50, 60, 70, 80, 90, 100, 110, 120, 130, 50, 60, 70, 80, 90, 100, 110, 120, 130, 50, 60, 70, 80, 90, 100, 110, 120, 130, 50, 60, 70, 80, 90, 100, 110, 120, 130, 50, 60, 70, 80, 90, 100, 110, 120, 130, 50, 60, 70, 80, 90, 100, 110, 120, 130, 50, 60, 70, 80, 90, 100, 110, 120, 130, 50, 60, 70, 80, 90, 100, 110, 120, 130, 50, 60, 70, 80, 90, 100, 110, 120, 130, 50, 60, 70, 80, 90, 100, 110, 120, 130, 50, 60, 70, 80, 90, 100, 110, 120, 130, 50, 60, 70, 80, 90, 100, 110, 120, 130, 50, 60, 70, 80, 90, 100, 110, 120, 130]

#*To concatenate two list

In [52]:
list1 = ["abc", "mango" , "carrot"]  # concatenate list using "+" operator
concatenated_list = list_1 + list1
print("Concatenated list = ",concatenated_list)

Concatenated list =  [130, 120, 110, 100, 90, 80, 70, 60, 50, 'abc', 'mango', 'carrot']

In [35]:
list1 = [30,40,50]
list2 = ['abc', 'mango', 'carrot']
list1.extend(list2)
print ("Concatenated list = ",list1) # concatenate using extend method

Concatenated list =  [30, 40, 50, 'abc', 'mango', 'carrot']

#*To sort the elements in the list in ascending order.

In [53]:
list_2 = [10,50,34,60,80,40,37,46,26,17] # sort elements in ascending order in the list
list_2.sort()
print(list_2)

[10, 17, 26, 34, 37, 40, 46, 50, 60, 80]

# 2.Write a Python Program to do in the tuples.
* Manipulate using tuples.
* To add new elements in the list.
* To reverse elements in the list.
* To display the elements of the same tuple multiple times.
* To concatenate two tuples
* To set the elements in the list in ascending order.

* Manipulate using tuples.

In [1]:
my_tuple = (30, 67, 27, 48, 87) #Tuples are immutable so i convert it to the list for manipulate operations
my_list = list(my_tuple)
print(type(my_list))

<class 'list'>

In [1]:
my_tuple = (30, 67, 27, 48, 87) #Tuples are immutable so i convert it to the list for manipulate operations
my_list = list(my_tuple)
print(type(my_list))

<class 'list'>

# *To add new elements to the end of the list

In [3]:
my_list.append(99) #add single element to the list
print(tuple(my_list))

(30, 67, 27, 48, 87, 99)

In [4]:
my_list.extend((85,33,666,554)) #add multiple elements to the list
print(tuple(my_list))

(30, 67, 27, 48, 87, 99, 85, 33, 666, 554)

*To reverse elements in the list

In [5]:
my_list.reverse() #using reverse method
print(tuple(my_list))

(554, 666, 33, 85, 99, 87, 48, 27, 67, 30)

In [6]:
reversed_list = my_list[::-1]  #using slice operation,
print(tuple(reversed_list))

(30, 67, 27, 48, 87, 99, 85, 33, 666, 554)

*To display the elements of the same tuple multiple times.

In [ ]:
Repeated_tuple = my_tuple * 15 #Repeat the tuple multiple times\n",
    "print(Repeated_tuple)

*To concatenate two tuples

In [9]:
Tuple1 = (45,67,87,89) #Concatenate tuple1 and tuple2
Tuple2 = (56,87,97,67)
Concatenate_tuple = Tuple1 + Tuple2
print(Concatenate_tuple)

(45, 67, 87, 89, 56, 87, 97, 67)

*To set the elements in the list in ascending order.

In [10]:
my_list.sort() #sort elements in ascending order
print(tuple(my_list))

(27, 30, 33, 48, 67, 85, 87, 99, 554, 666)

# # 3. Write a python program to implement the following using list.\n",
    * Create a list with integers."
    * How to display the last number in the list.
    * Command for displaying the values from the list[0:4]
    * Command for displaying the values from the list[2:]
    * Command for displaying the values from the list[:6]

 *Create a list with integers.

In [11]:
List01 = [3,19,5,8,2,17,14,11,6] #create list with integers
print(List01)

[3, 19, 5, 8, 2, 17, 14, 11, 6]

  *How to display the last number in the list.

In [12]:
last_number = List01[-1]  #print last number
print("Last_number = ",last_number)

Last_number =  6

* Command for displaying the values from the list[0:4]

In [13]:
values = List01[0:4]
print(values)

[3, 19, 5, 8]

*Command for displaying the values from the list[2:]

In [14]:
values = List01[2:]
print(values)

[5, 8, 2, 17, 14, 11, 6]

* Command for displaying the values from the list[:6]

In [15]:
values = List01[:6]
print(values)

[3, 19, 5, 8, 2, 17]

# 4. Write a python program: tuple1 =(10,50,20,40,30)
      * To display the elements 10 and 50 from tuple1.
      * To display the length of a tuple1.
      * To find the minimum element from tuple1.
      * To add all the elements in the tuple1.
      * To display the same tuple1 multiple times.

 * To display the elements 10 and 50 from tuple1.

In [16]:
tuple1=(10,50,20,40,30)
print (tuple1[:2])

(10, 50)

* To display the length of a tuple1.

In [17]:
print(len(tuple1)) #length of tuple

5

 * To find the minimum element from tuple1.

In [18]:
print(min(tuple1)) #minimum value

10

 * To add all the elements in the tuple1.

In [20]:
total = sum(tuple1) #add all the elements"
print(total)

150

* To display the same tuple1 multiple times.

In [22]:
Repeated_tuple = tuple1 * 13
print(Repeated_tuple)

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5.Write a Python Program:
       *To calculate the length of the string.
       *To reverse words in string
       *To display the same string multiple times.
       *To concatenate two strings
       *Str1 = \"South India\", using string slicing to display "India"

In [24]:
my_string = "Hello World"
print(my_string)

Hello World

*To calculate the length of the string.

In [25]:
 print(len(my_string))

11

 *To reverse words in string

In [26]:
print(my_string[::-1]) #reverse word using slicing

dlroW olleH

*To display the same string multiple times.

In [27]:
 print(my_string * 13)

Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World

* To concatenate two strings

In [31]:
Str1 = "South India"
Concatenate_str = my_string + " " +Str1
print(Concatenate_str)

Hello World South India

*Str1 = "South India", using string slicing to display "India"

In [32]:
print(Str1[-6:])

 India

# 6.Perform the following:\n",
       * Creating the Dictionary.
       * Accessing values and keys in the Dictionary
       * Updating the dictionary using a function.
       * Clear and delete the dictionary values.

In [ ]:
* Creating the Dictionary.

In [36]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
"* Accessing values and keys in the Dictionary"

In [38]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

name = my_dict.get("name")
age = my_dict.get("age")
city = my_dict.get("city")

print(name)  
print(age)  
print(city)

John
30
New York

In [39]:
  my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

keys = my_dict.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

In [41]:
 my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

values_list = list(my_dict.values())

print(values_list)

['John', 30, 'New York']

  * Updating the dictionary using a function.

In [45]:
def update_dict(my_dict):    #update the dictionary
       my_dict["height"] = 3.6
       my_dict["age"] = 31
update_dict(my_dict)
print(my_dict)

{'name': 'John', 'age': 31, 'city': 'New York', 'height': 3.6}

 * Clear and delete the dictionary values.

In [46]:
my_dict.clear() #clear the dictionary
print (my_dict)

{}

In [47]:
del (my_dict)#delete the dictionary

# 7. Python program to insert a number to any position in a list.

In [49]:
Mylist = [10,20,30,40,50] #insert number in the list\n
number_to_insert = 60
insert_position = 3
Mylist.insert(3,60)
print(Mylist)

[10, 20, 30, 60, 40, 50]

# 8.Python program to delete an element in the index.

In [52]:
my_list = [1, 2, 3, 4, 5]
index_to_delete = 2 
if 0 <= index_to_delete < len(my_list):
    del my_list[index_to_delete]
    print(my_list)
else:
        print("Invalid index")

[1, 2, 4, 5]

In [53]:
index_to_delete = 3 #using del method
del Mylist[2]
print(Mylist)

[10, 20, 60, 40, 50]

In [54]:
Mylist.pop(1) # using pop method
print(Mylist)

[10, 60, 40, 50]

In [55]:
index_to_delete = 3 #using del method
del Mylist[2]
print(Mylist)

[10, 60, 50]

# 9.Write a program to display a number from 1 to 100.

In [56]:
for number in range(1,101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. Write a Python Program to find the sum of all items in a tuple.

In [57]:
MyTuple = (45,60,34,12,79,89,124,546,789)
Total = sum(MyTuple)
print("Sum of all items in a tuple : ",Total)

Sum of all items in a tuple :  1778

In [58]:
my_tuple = (1, 2, 3, 4, 5)
total_sum = 0
for item in my_tuple:
    total_sum += item
print("Sum of all items in the tuple:", total_sum)

Sum of all items in the tuple: 15

# 11.Create a dictionary containing three lambda functions square,cube and square root.
* E.g.dict = {'Square': function for squaring,'Cube': function for cube, 'Squareroot':function for square root}
* Pass the values [input from the user] to the functions in the dictionary respectively.
* Then add the outputs of each function and print it.

In [15]:
# Create a dictionary of lambda functions
operations = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'Squareroot': lambda x: x ** 0.5
}

# Get user input for a number
num = float(input("Enter a number: "))

# Initialize a variable to store the sum of function outputs
result = 0

# Iterate through the dictionary and apply the functions
for operation_name, operation_func in operations.items():
    output = operation_func(num)
    print(f'{operation_name} of {num} is {output}')
    result += output

# Print the sum of function outputs
print(f'The sum of all function outputs is: {result}')

Enter a number: 54
Square of 54.0 is 2916.0
Cube of 54.0 is 157464.0
Squareroot of 54.0 is 7.3484692283495345
The sum of all function outputs is: 160387.34846922834

# 12. A list of words is given. Find the words from the list that have their second character in uppercase
ls = ['hello','Dear','hOw','ARe','You']

In [16]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']

# Initialize a list to store words with the second character in uppercase
result = []

# Iterate through the list and check the second character
for word in ls:
    if len(word) >= 2 and word[1].isupper():
        result.append(word)

# Print the words that meet the condition
print("Words with the second character in uppercase:")
for word in result:
    print(word)

Words with the second character in uppercase:
hOw
ARe

# 13. A dictionary of names and their weights on earth is given.Find how much they will weigh on the moon.[use map functions]
Formula : wMoon=(wEarth * GMoon)/GEarth
#Weight of people in kg
    * WeightOnEarth = {'John':45,'Shelly':65, 'Marry':35}
#Gravitational force on the Moon:1.622 m/S2
    * GMoon = 1.622
#Gravitational force on the Earth:9.81 m/S2
    * GEarth = 9.81

In [17]:
# Weight of people in kg
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}

# Gravitational force on the Moon: 1.622 m/s^2
GMoon = 1.622

# Gravitational force on the Earth: 9.81 m/s^2
GEarth = 9.81

# Function to calculate weight on the Moon
def weight_on_moon(weight_earth):
    return (weight_earth * GMoon) / GEarth

# Use the map function to apply the formula to each person's weight
weights_on_moon = list(map(weight_on_moon, WeightOnEarth.values()))

# Create a dictionary to store the results
WeightOnMoon = dict(zip(WeightOnEarth.keys(), weights_on_moon))

# Print the results
print("Weights on the Moon:")
for name, weight in WeightOnMoon.items():
    print(f"{name}: {weight:.2f} kg")

Weights on the Moon:
John: 7.44 kg
Shelly: 10.75 kg
Marry: 5.79 kg

# CONTROL STRUCTURE :

1. Write a python program to find the first N prime numbers.

In [63]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n//2) + 1):
        if n % i == 0:
            return False
    return True

N = int(input("Enter a number: "))

print(f"Prime numbers up to {N}:")
for i in range(2, N + 1):
    if is_prime(i):
        print(i, end=" ")

Enter a number: 100
Prime numbers up to 100:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

2. Write the python code that calculates the salary of an employee.Prompt the user to enter the Basic Salary,HRA,TA and DA.Add these components to calculate the Gross Salary.Also, deduct 10% of salary from the Gross salary to be paid as tax and display gross minus tax as net salary.

In [3]:
# Prompt the user to enter the Basic Salary, HRA, TA, and DA
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

# Calculate the Gross Salary
gross_salary = basic_salary + hra + ta + da

# Calculate the tax (10% of Gross Salary)
tax = 0.10 * gross_salary

# Calculate the Net Salary
net_salary = gross_salary - tax

# Display the Gross Salary and Net Salary
print(f"Gross Salary: {gross_salary}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 25000
Enter HRA: 8000
Enter TA: 3500
Enter DA: 3000
Gross Salary: 39500.0
Net Salary: 35550.0

3. Write a program to search a string in the list.

In [1]:
my_list = ["apple", "banana", "cherry", "date", "fig"]
search_string = "cherry"
found = False
for item in my_list:
    if item == search_string:
        found = True
        break
if found:
    print("'" + search_string + "' was found in the list.")
else:
    print("'" + search_string + "' was not found in the list.")

'cherry' was found in the list.

4. Write a python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [1]:
def countletters(input_string):
    upper_count = 0
    lower_count = 0
    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    return upper_count, lower_count

input_str = input("Enter the string: ")
upper, lower = countletters(input_str)
print("Number of Uppercase letters:", upper)
print("Number of lowercase letters:", lower)

Enter the string: Hello World
Number of Uppercase letters: 2
Number of lowercase letters: 8

5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [1]:
# Initialize variables to store the sums
even_sum = 0
odd_sum = 0

# Iterate through numbers from 12 to 37
for num in range(12, 38):
    # Check if the number is even
    if num % 2 == 0:
        even_sum += num
    else:
        odd_sum += num

# Display the sums
print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Sum of even numbers: 312
Sum of odd numbers: 325

6. Write a program to print the table of any number.

In [2]:
# Get the number from the user
num = int(input("Enter a number: "))

# Print the table of the entered number
print(f"Table of {num}:")

for i in range(1, 11):
    result = num * i
    print(f"{num} x {i} = {result}")

Enter a number: 5
Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

7. Write a program to search the first 10 prime numbers.

In [4]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

# Find and print the first 10 prime numbers
count = 0
num = 2

print("The first 10 prime numbers are:")
while count < 10:
    if is_prime(num):
        print(num, end=" ")
        count += 1
    num += 1

print()

The first 10 prime numbers are:
2 3 5 7 11 13 17 19 23 29

8.Write a python program to implement arithmetic operators using nested if statement.

In [5]:
# Get user input for two numbers and an operator
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operator = input("Enter an arithmetic operator (+, -, *, /): ")

# Perform the arithmetic operation based on the operator
result = None

if operator == '+':
    result = num1 + num2
elif operator == '-':
    result = num1 - num2
elif operator == '*':
    result = num1 * num2
elif operator == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        print("Error: Division by zero is not allowed")
else:
    print("Error: Invalid operator")

# Display the result if it's valid
if result is not None:
    print(f"Result: {result}")

Enter the first number: 25
Enter the second number: 56
Enter an arithmetic operator (+, -, *, /): *
Result: 1400.0

9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [6]:
# Get temperature in Celsius from the user
celsius = float(input("Enter temperature in Celsius: "))

# Convert Celsius to Fahrenheit
fahrenheit = (celsius * 9/5) + 32

# Display the result
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 32
32.0 degrees Celsius is equal to 89.6 degrees Fahrenheit

10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function.

In [7]:
# Function to find maximum and minimum numbers in a list
def find_max_min(numbers):
    if not numbers:
        return None, None  # Handle empty list

    max_num = numbers[0]
    min_num = numbers[0]

    for num in numbers:
        if num > max_num:
            max_num = num
        elif num < min_num:
            min_num = num

    return max_num, min_num

# Example usage
my_list = [23, 45, 12, 67, 89, 34, 9, 50]

max_number, min_number = find_max_min(my_list)

if max_number is not None and min_number is not None:
    print(f"Maximum number: {max_number}")
    print(f"Minimum number: {min_number}")
else:
    print("The list is empty.")

Maximum number: 89
Minimum number: 9

11. Write a program in python to print out the number of seconds in 30-day month 30 days,24 hours in a day,60 seconds in a minute.

In [8]:
# Constants for time units
seconds_per_minute = 60
minutes_per_hour = 60
hours_per_day = 24

# Number of days in the month
days_in_month = 30

# Calculate the total number of seconds
total_seconds = days_in_month * hours_per_day * minutes_per_hour * seconds_per_minute

# Print the result
print(f"There are {total_seconds} seconds in a 30-day month.")

There are 2592000 seconds in a 30-day month.

12. Write a program in python to print out the number of seconds in a year.

In [9]:
# Constants for time units
seconds_per_minute = 60
minutes_per_hour = 60
hours_per_day = 24
days_per_year = 365  # Assuming a non-leap year

# Calculate the total number of seconds in a year
seconds_per_year = days_per_year * hours_per_day * minutes_per_hour * seconds_per_minute

# Print the result
print(f"There are approximately {seconds_per_year} seconds in a year (assuming a non-leap year).")

There are approximately 31536000 seconds in a year (assuming a non-leap year).

13. A high-speed train can travel at an average speed of 150 mph,how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [10]:
# Constants
distance_miles = 414  # Distance from London to Glasgow in miles
speed_mph = 150       # Average speed of the train in mph

# Calculate the time in hours
time_hours = distance_miles / speed_mph

# Display the result
print(f"It will take {time_hours} hours to travel from London to Glasgow at an average speed of 150 mph.")

It will take 2.76 hours to travel from London to Glasgow at an average speed of 150 mph.

14. Write a python program that defines a variable called days_in_each_school_yaer and assign 192 to the variable.The program should then print out the total hours that you spend in the school from year 7 to year 11,if each day spend 6 hours in school days_in_each_school_year = 192

In [11]:
# Define the number of school days in each school year
days_in_each_school_year = 192

# Calculate the total hours spent in school from year 7 to year 11
total_hours = days_in_each_school_year * 5  # 5 school years (7 to 11) multiplied by days per year

# Print the result
print(f"The total hours spent in school from year 7 to year 11 is {total_hours} hours.")

The total hours spent in school from year 7 to year 11 is 960 hours.

15. If the age of Ram, Sam and Khan are input through the keyboard,Write a python program to determine the eldest and youngest of the three.

In [12]:
# Get the ages of Ram, Sam, and Khan from the user
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

# Initialize variables to track the eldest and youngest
eldest = youngest = ""

# Compare ages to find the eldest and youngest
if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
    if sam_age <= khan_age:
        youngest = "Sam"
    else:
        youngest = "Khan"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
    if ram_age <= khan_age:
        youngest = "Ram"
    else:
        youngest = "Khan"
else:
    eldest = "Khan"
    if ram_age <= sam_age:
        youngest = "Ram"
    else:
        youngest = "Sam"

# Display the results
print(f"The eldest among Ram, Sam, and Khan is {eldest}.")
print(f"The youngest among Ram, Sam, and Khan is {youngest}.")

Enter Ram's age: 23
Enter Sam's age: 21
Enter Khan's age: 24
The eldest among Ram, Sam, and Khan is Khan.
The youngest among Ram, Sam, and Khan is Sam.

16. Write a python program to rotate a list by right n times with and without slicing technique.

USING SLICING TECHNIQUE

In [13]:
def rotate_right_with_slicing(lst, n):
    n = n % len(lst)  # Ensure n is within the range of the list size
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list

# Example usage:
original_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_right_with_slicing(original_list, n)
print(f"Original List: {original_list}")
print(f"Rotated List: {rotated_list}")

Original List: [1, 2, 3, 4, 5]
Rotated List: [4, 5, 1, 2, 3]

WITHOUT SLICING TECHNIQUE

In [14]:
def rotate_right_without_slicing(lst, n):
    n = n % len(lst)  # Ensure n is within the range of the list size
    for _ in range(n):
        lst.insert(0, lst.pop())

# Example usage:
original_list = [1, 2, 3, 4, 5]
n = 2
rotate_right_without_slicing(original_list, n)
print(f"Rotated List: {original_list}")

Rotated List: [4, 5, 1, 2, 3]

17. Python program to print the patterns given below.

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [1]:
def generate_pascals_triangle(n):
    pascals_triangle = []
    for line in range(0, n):
        current_line = []
        for i in range(0, line + 1):
            if i == 0 or i == line:
                current_line.append(1)
            else:
                current_line.append(pascals_triangle[line - 1][i - 1] + pascals_triangle[line - 1][i])
        pascals_triangle.append(current_line)
    return pascals_triangle

def print_pascals_triangle(triangle):
    for row in triangle:
        print(" ".join(map(str, row)))

n = 7  # Change this value to the number of rows you want
pascals_triangle = generate_pascals_triangle(n)
print_pascals_triangle(pascals_triangle)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [ ]:
def generate_pascals_triangle(n):
    pascals_triangle = []
    for line in range(0, n):
        current_line = []
        for i in range(0, line + 1):
            if i == 0 or i == line:
                current_line.append(1)
            else:
                current_line.append(pascals_triangle[line - 1][i - 1] + pascals_triangle[line - 1][i])
        pascals_triangle.append(current_line)
    return pascals_triangle

def print_pascals_triangle(triangle):
    for row in triangle:
        print(" ".join(map(str, row)))

n = 7  # Change this value to the number of rows you want
pascals_triangle = generate_pascals_triangle(n)
print_pascals_triangle(pascals_triangle)

*
* *
* * *
* * * *
* * * * *

In [2]:
# Number of rows in the pattern
n = 5  # Change this value to adjust the number of rows

# Loop to print the pattern
for i in range(1, n + 1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

      *
     * *
    * * *
   * * * * 
  * * * * * 
 * * * * * *
* * * * * * *

In [3]:
# Number of rows in the pattern
n = 6  # Change this value to adjust the number of rows

# Loop to print the pattern
for i in range(1, n + 1):
    # Print spaces
    for j in range(n - i):
        print(" ", end="")
    
    # Print stars
    for k in range(i):
        print("* ", end="")
    
    # Move to the next line
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

P
Py
Pyt
Pyth
Pytho
Python

In [4]:
# Word to be printed
word = "Python"

# Loop to print the pattern
for i in range(1, len(word) + 1):
    print(word[:i])

P
Py
Pyt
Pyth
Pytho
Python